[submodule "thirdparty/span-lite"]
	path = thirdparty/span-lite
	url = https://github.com/martinmoene/span-lite.git
[submodule "thirdparty/uuid"]
	path = thirdparty/uuid
	url = https://github.com/mackron/uuid.git
